@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
@import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css);
@import url(StyleFooter.css);
/* --------------------------------------------------- Global --------------------------------------------------- */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body 
{
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../Images/Background.jpg) no-repeat fixed top center / cover;
}
/* --------------------------------------------------- Header --------------------------------------------------- */
nav 
{
    z-index: 10;
    width: 100%;
    height: 3rem;
    display: flex;
    padding: 4% 6% 2%;
    align-items: center;
    justify-content: space-between;
}
nav img 
{
    width: 200px;
}
.bi
{
    color: gainsboro;
    margin-right: 10px;
}
#menu .bi
{
    position: absolute;
    top: 41px;
    right: 159px;
}
#menu #retour
{
    color: white;
    font-size: 19px;
    padding: 10px 30px;
    text-decoration: none;
    transition: 1s;
}
#menu #retour:hover
{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}